html {
    background-color: beige;
}

.title {
    font-size: 28px;
    font-family: 'Times New Roman', Helvetica, sans-serif;
    color: brown;
}

.subtitle {
    font-size: 20px;
    font-family: 'Times New Roman', Helvetica, sans-serif;
    color: coral;
}

.steps {
    font-size: 18px;
    font-family: 'Times New Roman', Helvetica, sans-serif;
    color: coral;
}

p, ul, ol {
    font-size: 16px;
    font-family: 'Times New Roman', Helvetica, sans-serif;
    color: lightcoral;
}